ModernUI/
jade/
jei/
sound_physics_remastered/
world_preview/

ae2/client.json
travelanchors/client.json5

emi.css
ias.json
MouseTweaks.cfg
oculus.properties
embeddium*
ad_astra-client.jsonc
xaero*

*-client.toml
Mekanism/client.toml
ferritecore-mixin.toml
solonion-client.json

!aether-client.toml
!pickupnotifier/pickupnotifier-client.toml
!inventorysorter-client.toml
